workflows/kb-whatsapp-entry.json
[
  {
    "name": "KB Adapter - WhatsApp",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "whatsapp-kb-event",
          "responseMode": "responseNode",
          "options": {
            "rawBody": true
          }
        },
        "id": "kb-wpp-webhook",
        "name": "WhatsApp Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first() || {};\nconst json = item.json || {};\nconst body = json.body && typeof json.body === 'object' ? json.body : json;\n\nconst objectValue = (value) => value && typeof value === 'object' && !Array.isArray(value) ? value : undefined;\nconst firstObjectValue = (value) => Array.isArray(value)\n  ? value.find((entry) => entry && typeof entry === 'object' && !Array.isArray(entry))\n  : objectValue(value);\nconst stringValue = (value) => typeof value === 'string' || typeof value === 'number' ? String(value).trim() : '';\nconst numberValue = (value) => {\n  const parsed = typeof value === 'number' ? value : Number.parseInt(stringValue(value), 10);\n  return Number.isFinite(parsed) && parsed >= 0 ? parsed : 0;\n};\nconst base64Value = (value) => {\n  const raw = stringValue(value);\n  const marker = ';base64,';\n  const markerIndex = raw.indexOf(marker);\n  return markerIndex >= 0 ? raw.slice(markerIndex + marker.length).trim() : raw;\n};\n\nconst data = firstObjectValue(body.data) || body;\nconst event = stringValue(body.event || body.eventType || body.type || data.event || data.eventType || data.type)\n  .toUpperCase()\n  .replace(/[.-]/g, '_');\nif (event && event !== 'MESSAGES_UPSERT') {\n  return [{ json: { skip: true, reason: `unsupported_event:${event}` } }];\n}\n\nconst key = objectValue(data.key) || {};\nconst rawMessage = objectValue(data.message) || objectValue(body.message) || {};\nconst innerMsg = objectValue(objectValue(rawMessage.ephemeralMessage)?.message)\n  || objectValue(objectValue(rawMessage.viewOnceMessage)?.message)\n  || objectValue(objectValue(rawMessage.viewOnceMessageV2)?.message)\n  || objectValue(objectValue(rawMessage.documentWithCaptionMessage)?.message)\n  || rawMessage;\n\nconst remoteJid = stringValue(key.remoteJid || data.remoteJid || data.chatId || body.remoteJid || body.chatId);\nif (!remoteJid.endsWith('@g.us')) return [{ json: { skip: true, reason: 'not_group' } }];\n\nconst mediaTypes = [\n  { key: 'imageMessage', type: 'image', fallbackMimeType: 'image/jpeg' },\n  { key: 'documentMessage', type: 'document', fallbackMimeType: 'application/octet-stream' },\n  { key: 'audioMessage', type: 'audio', fallbackMimeType: 'audio/ogg' },\n  { key: 'videoMessage', type: 'video', fallbackMimeType: 'video/mp4' },\n  { key: 'stickerMessage', type: 'sticker', fallbackMimeType: 'image/webp' }\n];\nlet mediaType = '';\nlet mediaData = undefined;\nlet mediaFileName = '';\nlet mediaMimeType = '';\nlet mediaFileSize = 0;\nfor (const mt of mediaTypes) {\n  const candidate = objectValue(innerMsg[mt.key]);\n  if (!candidate) continue;\n  mediaType = mt.type;\n  mediaData = candidate;\n  mediaFileName = stringValue(candidate.fileName || candidate.title || `attachment.${mt.type}`);\n  mediaMimeType = stringValue(candidate.mimetype || candidate.mimeType) || mt.fallbackMimeType;\n  mediaFileSize = numberValue(candidate.fileLength || candidate.fileSize || candidate.sizeBytes);\n  break;\n}\n\nconst inlineMedia = objectValue(body.media) || objectValue(data.media) || mediaData || {};\nconst inlineBase64 = base64Value(\n  body.media_data_b64\n    || body.mediaDataBase64\n    || body.dataBase64\n    || body.base64\n    || data.media_data_b64\n    || data.mediaDataBase64\n    || data.dataBase64\n    || data.base64\n    || inlineMedia.dataBase64\n    || inlineMedia.base64\n);\nconst messageText = stringValue(\n  mediaData?.caption\n    || innerMsg.conversation\n    || objectValue(innerMsg.extendedTextMessage)?.text\n    || data.text\n    || data.body\n    || body.text\n    || body.body\n);\nif (!messageText && !mediaType) return [{ json: { skip: true, reason: 'empty' } }];\nconst prefixPattern = /^\\/kb(?:\\s+|$)/i;\nif (!prefixPattern.test(messageText)) return [{ json: { skip: true, reason: 'group_missing_prefix' } }];\nconst invokedMessageText = messageText.replace(prefixPattern, '').trim();\nreturn [{ json: {\n  skip: false,\n  message_text: invokedMessageText || (mediaType ? `[${mediaType}: ${mediaFileName}]` : ''),\n  sender_jid: stringValue(key.participant || data.participant || body.participant || remoteJid),\n  group_jid: remoteJid,\n  message_id: stringValue(key.id || data.messageId || body.messageId),\n  has_media: Boolean(mediaType),\n  media_type: mediaType,\n  media_file_name: mediaFileName,\n  media_mime_type: mediaMimeType,\n  media_file_size: mediaFileSize,\n  media_data_b64: inlineBase64,\n  raw_message: JSON.stringify(data),\n} }];"
        },
        "id": "kb-wpp-parse",
        "name": "Parse WhatsApp Event",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ String($json.skip) }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "kb-wpp-skip",
        "name": "Should Skip?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ String($json.has_media) }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "kb-wpp-has-media",
        "name": "Has Media?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          720,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EVOLUTION_API_URL }}/chat/getBase64FromMediaMessage/{{ $env.EVOLUTION_INSTANCE_NAME }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.EVOLUTION_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ message: JSON.parse($json.raw_message) }) }}"
        },
        "id": "kb-wpp-download-media",
        "name": "Download Media",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          960,
          -96
        ]
      },
      {
        "parameters": {
          "jsCode": "const base = $node['Has Media?'].json || {};\nconst objectValue = (value) => value && typeof value === 'object' && !Array.isArray(value) ? value : undefined;\nconst stringValue = (value) => typeof value === 'string' || typeof value === 'number' ? String(value).trim() : '';\nconst base64Value = (value) => {\n  const raw = stringValue(value);\n  const marker = ';base64,';\n  const markerIndex = raw.indexOf(marker);\n  return markerIndex >= 0 ? raw.slice(markerIndex + marker.length).trim() : raw;\n};\nconst data = objectValue($json.data);\nconst response = objectValue($json.response);\nconst downloadedBase64 = base64Value(\n  $json.base64\n    || $json.dataBase64\n    || $json.media_data_b64\n    || data?.base64\n    || data?.dataBase64\n    || data?.media_data_b64\n    || response?.base64\n    || response?.dataBase64\n    || response?.media_data_b64\n);\nreturn [{ json: { ...base, media_data_b64: downloadedBase64 || String(base.media_data_b64 || '').trim() } }];"
        },
        "id": "kb-wpp-merge-media",
        "name": "Merge Media Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          -96
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { ...$json, media_data_b64: '' } }];"
        },
        "id": "kb-wpp-no-media",
        "name": "No Media Path",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          96
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first() || {};\nconst json = item.json || {};\nconst payload = {\n  externalIdentity: {\n    provider: 'whatsapp',\n    identityType: 'jid',\n    externalId: String(json.group_jid || '').trim(),\n  },\n  payload: {\n    messageText: String(json.message_text || '').trim(),\n    senderId: String(json.sender_jid || '').trim(),\n    groupId: String(json.group_jid || '').trim(),\n    messageId: String(json.message_id || '').trim(),\n    hasMedia: Boolean(json.has_media),\n    media: {\n      fileName: String(json.media_file_name || '').trim(),\n      mimeType: String(json.media_mime_type || 'application/octet-stream').trim(),\n      sizeBytes: Number(json.media_file_size || 0),\n      dataBase64: String(json.media_data_b64 || '').trim(),\n    },\n  },\n  group_jid: String(json.group_jid || '').trim(),\n};\nreturn [{ json: payload }];"
        },
        "id": "kb-wpp-prepare",
        "name": "Prepare Conversation Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.KB_API_BASE_URL || 'http://knowledge-base:3000'}}/api/internal/n8n/conversation/agent",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.KB_INTERNAL_SERVICE_TOKEN}}"
              }
            ]
          },
          "options": {},
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}"
        },
        "id": "kb-wpp-run-conversation",
        "name": "Call conversation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1680,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $node['Prepare Conversation Input']?.json || {};\nconst result = $json && typeof $json === 'object' ? $json : {};\nconst nested = result.conversationResult && typeof result.conversationResult === 'object' ? result.conversationResult : {};\nconst action = String(result.action || nested.action || '').trim();\nconst replyText = String(result.replyText || nested.replyText || '').trim();\nconst confirmText = String(result.confirmText || replyText || '').trim();\nreturn [{ json: { ...result, action, group_jid: String(input.group_jid || result.groupId || '').trim(), replyText, confirmText } }];"
        },
        "id": "kb-wpp-parse-conversation",
        "name": "Parse Conversation Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.action }}",
                "rightValue": "submit",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "kb-wpp-is-submit",
        "name": "Is Submit?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2160,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.EVOLUTION_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $json.group_jid }}"
              },
              {
                "name": "text",
                "value": "={{ $json.replyText || '' }}"
              }
            ]
          }
        },
        "id": "kb-wpp-send-reply",
        "name": "Send WhatsApp Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2400,
          -96
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first() || {};\nconst json = item.json || {};\nconst body = json.body && typeof json.body === 'object' ? json.body : json;\nconst payload = body.payload && typeof body.payload === 'object' ? body.payload : body;\nreturn [{ json: { ...payload, payload } }];"
        },
        "id": "kb-wpp-prepare-ingest",
        "name": "Prepare Ingest Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.KB_API_BASE_URL || 'http://knowledge-base:3000'}}/api/internal/n8n/ingest",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.KB_INTERNAL_SERVICE_TOKEN}}"
              }
            ]
          },
          "options": {},
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}"
        },
        "id": "kb-wpp-run-ingest",
        "name": "Call ingest",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2640,
          96
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: $json }];"
        },
        "id": "kb-wpp-parse-ingest",
        "name": "Parse Ingest Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2880,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.EVOLUTION_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $json.group_jid }}"
              },
              {
                "name": "text",
                "value": "={{ $json.confirmText || '' }}"
              }
            ]
          }
        },
        "id": "kb-wpp-send-confirmation",
        "name": "Send Confirmation",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3120,
          96
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"ok\":true}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "kb-wpp-respond",
        "name": "Respond OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          3360,
          0
        ]
      }
    ],
    "connections": {
      "WhatsApp Webhook": {
        "main": [
          [
            {
              "node": "Parse WhatsApp Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse WhatsApp Event": {
        "main": [
          [
            {
              "node": "Should Skip?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Skip?": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Has Media?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Media?": {
        "main": [
          [
            {
              "node": "Download Media",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Media Path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Media": {
        "main": [
          [
            {
              "node": "Merge Media Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Media Data": {
        "main": [
          [
            {
              "node": "Prepare Conversation Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Media Path": {
        "main": [
          [
            {
              "node": "Prepare Conversation Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Conversation Input": {
        "main": [
          [
            {
              "node": "Call conversation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call conversation": {
        "main": [
          [
            {
              "node": "Parse Conversation Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Conversation Result": {
        "main": [
          [
            {
              "node": "Is Submit?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Submit?": {
        "main": [
          [
            {
              "node": "Send WhatsApp Reply",
              "type": "main",
              "index": 0
            },
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send WhatsApp Reply",
              "type": "main",
              "index": 0
            },
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    }
  }
]
